@import "tailwindcss";

@theme {
  --color-bg-primary: #1e1e1e;
  --color-bg-secondary: #252526;
  --color-bg-panel: #2d2d30;
  --color-bg-panel-hover: #3e3e42;
  
  --color-text-primary: #cccccc;
  --color-text-secondary: #969696;
  --color-text-muted: #666666;
  
  --color-accent-primary: #007acc;
  --color-accent-primary-hover: #0062a3;
  --color-accent-secondary: #007acc;
  --color-accent-warning: #cca700;
  --color-accent-danger: #f14c4c;
  
  --color-border-color: #3e3e42;
  --color-border-light: #5a5a59;
  
  --color-glass-bg: #2d2d30;
  
    --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-bg-primary text-text-primary overflow-hidden antialiased;
  }
}
